*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: #F4F5F8;
}

.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}